/* Reducing spacing to make more room for events. */
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 4px;
}
.fc .fc-daygrid-day-number {
  padding-top: 0;
  padding-bottom: 0;
}

/* Allow non-all-day events to wrap onto 2 lines on days where there are <= 2 events. */
.fc-daygrid-day-events:where(
    :not(
        :has(
            .fc-daygrid-event-harness
              + .fc-daygrid-event-harness
              + .fc-daygrid-event-harness
          )
      )
  )
  > .fc-daygrid-event-harness:not(.fc-daygrid-event-harness-abs)
  > .fc-daygrid-event {
  white-space: normal;
  word-break: break-all;
  overflow-y: hidden;
  line-height: 1.05;
  --event-lines: 2;
  max-height: calc(var(--event-lines) * 1.05em + 4px);
}
/* If there is only one event on a day it can even wrap onto 3 lines. */
.fc-daygrid-day-events:where(
    :not(:has(.fc-daygrid-event-harness + .fc-daygrid-event-harness))
  )
  > .fc-daygrid-event-harness:not(.fc-daygrid-event-harness-abs)
  > .fc-daygrid-event {
  --event-lines: 3;
  max-height: calc(var(--event-lines) * 1.05em + 4px);
}
