/* Make buttons less fat */
.fc .fc-button {
  padding: 0.25em 0.45em;
}

/* Reducing spacing to make more room for events. */
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 4px;
}
.fc .fc-daygrid-day-number {
  padding-top: 0;
  padding-bottom: 0;
}
.fc-dayGridMonth-view .fc-daygrid-event {
  --event-line-height: 1.05;
  line-height: var(--event-line-height);
}

/* Allow non-all-day events to wrap onto 2 lines on days where there are <= 2 events. */
.fc-dayGridMonth-view
  .fc-daygrid-event:is(
    .up-to-1-overlapping-events,
    .up-to-0-overlapping-events
  ) {
  white-space: normal;
  --event-lines: 2;
  max-height: calc(var(--event-lines) * var(--event-line-height) * 1em + 4px);
  overflow-y: hidden;
}
/* If there is only one event on a day it can even wrap onto 3 lines. */
.fc-dayGridMonth-view .fc-daygrid-event.up-to-0-overlapping-events {
  --event-lines: 3;
}
/* On mobile/phablet screens, events are so narrow (< 90px wide) that
   wrapping in the middle of words improves event legibility. */
@media (max-width: 630px) {
  .fc-dayGridMonth-view
    .fc-daygrid-event:is(
      .up-to-1-overlapping-events,
      .up-to-0-overlapping-events
    ) {
    word-break: break-all;
  }
}
