@import "fullcalendar.css";

/* Tailwind utility classes */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @counter-style lower-alpha-bracket {
    system: extends lower-alpha;
    suffix: ") ";
  }
  .lower-alpha-bracket {
    list-style: lower-alpha-bracket;
  }
}
